{% extends 'core/base.html' %}
{% block title %}Welcome Home{% endblock %}

{% load static %}
 {% block styleSheets %}{% static 'styles/landingpage.css' %}{% endblock %}



 {% block content %}
 <div class='homepage'>
    {% include '../side-bar/side-bar.html' %}
    <div class='homepage-body'>
        <div class='content'>
            {% include '../views/views/views.html' %}
            {% include '../views/artist-view/artist-view.html' %}
            {% include '../now-playing/now-playing.html' %}
        </div>
        <div class="new-playlist-card">
            <div class='card-wrap'>
                <span>Name This Playlist</span>
                {% with inputtype='SearchInputType' %}
                    {% include '../form-input/form-input.html' %}
                {% endwith %}
                <span>
                    {% with buttonText="Save" buttonType="FlatButton" %}
                        {% include '../custom-button/custom-button.html' %}
                    {% endwith %}
                </span>
            </div>
        </div>
    </div>
    <div class='bottom-pallete'>
        <div class='wrap'>
            <div class='first-line'>
                <div class='box-2'>
                    <span class='time'>0:44</span>
                    <span class='line'><span class='circle'></span></span>
                    <span class='time time2'>{{minutes}}</span>
                </div>
            </div>
            <div class='second-line'>
                <div class='box-1'>
                    <span class='img-holder'> 
                        <img class='img-top' src={{url}} />
                    </span>
                    <div>
                        <span class='song'>{{name}} || {{label}}  ({{format}})</span>
                        <span class='name'>{{title}}</span>
                    </div>
                </div>
                <div class='box-2'>
                    <span class='time'>0:44</span>
                    <span class='line'><span class='circle'></span></span>
                    <span class='time'>{{minutes}}</span>
                </div>
                <div class='box-3'>
                    <span><i class="fa fa-caret-left"></i></span>
                    <span><i class="fa fa-caret-left"></i></span>
                    <span><i class="fa fa-caret-right"></i></span>
                    <span><i class="fa fa-caret-right"></i></span>
                    <span><i class="fa fa-caret-right"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}







{% comment %} 
<script>
    document.querySelector('#side-bar > .content > .menubar').addEventListener('click', e => HideSideBar(e))
    document.querySelector('.block-2.blocks > .icon').addEventListener('click', e => HandleMousever(e))
    document.querySelector('.block-2.blocks > .list').addEventListener('click', e => HandleMousever(e))
    Array.from(document.querySelectorAll('.block-1.blocks > .icon'))
        .map(itm => itm.addEventListener('click', e => HandleMousever(e)))
    Array.from(document.querySelectorAll('.block-1.blocks > .list'))
        .map(itm => itm.addEventListener('click', e => HandleMousever(e)))            
    

    function makeAjaxRequest(e, type, url, data){
        e.preventDefault();
        Array.from(document.querySelectorAll('.items')).map(itm => itm.remove())
        Array.from(document.querySelectorAll('.sorted-item-wrap')).map(itm => itm.remove())
        Array.from(document.querySelectorAll('.song-li')).map(itm => itm.remove())
        $.ajax({
            type,
            url,
            data: {csrfmiddlewaretoken: "{{ csrf_token }}", ...data},
            success: function(json){
                //console.log(json.albumPhotoCheckedState) 
                //if the cancel btn is showing, DisplaySelectBtn func changes this to select
                DisplaySelectBtn()
                var bodyElement = document.querySelector('.body')
                var bodyElement2 = document.querySelector('.body-2')
                const element = document.querySelector('.album-photos > .head')
                const currentPage = data.currentPage
                json.albumPhotoCheckedState.forEach(function(obj, index){
                    if (currentPage === 'FIRST-PAGE'){
                        DisplayFirstPage(bodyElement2, bodyElement,currentPage, obj)
                    }
                    else{
                        if (bodyElement){
                            bodyElement.classList.remove('body')
                            bodyElement.classList.add('body-2')
                        }
                        else if (bodyElement2){
                            bodyElement = bodyElement2 
                        }
                        if (currentPage === 'ARTIST-PAGE'){
                            DisplayArtistPage(element, bodyElement,currentPage, obj)
                        }
                        else if (currentPage === 'SONGS-PAGE'){
                            DisplaySongsPage(index, bodyElement, obj)
                        }
                    }
                })
                // element.insertAdjacentElement('afterend', bodyElement)
            },
            error: function(xhr, errmsg, err){
                console.log('completed with error');
            }
        });
    }

    const CardMaker = (currentPage, obj) => {
        const {url, title, release_year, label, genre, name, selected, songs} = obj
        const HTML = `
                <span class='img-holder'> 
                    <img class='img-top' src=${url} />
                    {% with checked='{{selected}}' data='{{position}}' dataIndex='{{position}}' inputType='checkbox-1' name='{{position}}' %}
                        {% include '../checkbox-input/checkbox-input.html' %}
                    {% endwith %}
                </span>
            ${
                currentPage==='FIRST-PAGE' 
                ? `<div class='text-wrap'>
                        <div class='text'><span>Title:</span>
                            <span>${' ' + title.length > 15 ?  title.slice(0,13) + '...' :  title}</span>
                        </div>
                        <div class='text'><span>Year:</span><span>${' ' + release_year}</span></div>
                        <div class='text'><span>Label:</span><span>${' ' + label}</span></div>
                        <div class='text'><span>Genre:</span><span>${' ' + genre}</span></div>
                        <div class='text'><span>Artist:</span><span>${' ' + name}</span></div>
                </div>`
                : currentPage==='ARTIST-PAGE'
                ? `<div class='text-wrap'>
                        <div class='text'><span>Name:</span>
                            <span>${' ' + name.length > 15 ?  name.slice(0,13) + '...' :  name}</span>
                        </div>
                        <div class='text'><span>Songs:</span><span>${' ' + songs + ' songs'}</span></div>
                    </div>`
                : null
        }`
        return HTML
    }

    const DisplayFirstPage = (bodyElement2, bodyElement,currentPage, obj) => {
        if (bodyElement2){
            bodyElement2.classList.add('body')
            bodyElement2.classList.remove('body-2')
            bodyElement= bodyElement2
        }
        newItem = document.querySelector('.items.newlyAddedItem')
        if (newItem){newItem.classList.remove('newlyAddedItem')}
        bodyItemElement = document.createElement('div')
        bodyItemElement.className = 'items newlyAddedItem'
        bodyItemElement.innerHTML = CardMaker(currentPage, obj)

        //the if condition is meant to position from earliest to latest, placing bodyItemElement beside d msst recently creaated one
        //cos just using sorted with arg 'afterBegin' will position from latest to earliest
        if (newItem){newItem.insertAdjacentElement('afterEnd', bodyItemElement)}
        else{bodyElement.insertAdjacentElement('afterBegin', bodyItemElement)}
    }

    const DisplayArtistPage = (element, bodyElement,currentPage, obj) => {
        newSortedWrap = document.querySelector('.sorted-item-wrap.newlyAddedSortedWrap')
        if (newSortedWrap){newSortedWrap.classList.remove('newlyAddedSortedWrap')}
        const sortedItemWrap = document.createElement('div')
        sortedItemWrap.className = 'sorted-item-wrap newlyAddedSortedWrap'
        const sortedItemHead= document.createElement('span')
        sortedItemHead.className = 'sort-head'
        sortedItemHead.innerHTML = `${Object.keys(obj)[0]}`
        sortedItemWrap.insertAdjacentElement('afterBegin', sortedItemHead)
        const sorted= document.createElement('span')
        sorted.className = 'sorted-2'

        obj[`${Object.keys(obj)[0]}`].forEach(function(obj, index){
            newItem = sorted.querySelector('.items.newlyAddedItem')
            if (newItem){ newItem.classList.remove('newlyAddedItem')}
            bodyItemElement = document.createElement('div')
            bodyItemElement.className = 'items newlyAddedItem'
            bodyItemElement.innerHTML = CardMaker(currentPage, obj)
            
            //the if condition is meant to position from earliest to latest, placing bodyItemElement beside d msst recently creaated one
            //cos just using sorted with arg 'afterBegin' will position from latest to earliest
            if (newItem){newItem.insertAdjacentElement('afterEnd', bodyItemElement)}
            else{sorted.insertAdjacentElement('afterBegin', bodyItemElement)}
        })

        sortedItemWrap.insertAdjacentElement('beforeEnd', sorted)
        //the if condition is meant to position from earliest to latest, placing bodyItemElement beside d msst recently creaated one
        //cos just using bodyElement with arg 'afterBegin' will position from latest to earliest
        if (newSortedWrap){
            newSortedWrap.insertAdjacentElement('afterEnd', sortedItemWrap)
        }
        else{
            bodyElement.insertAdjacentElement('afterBegin', sortedItemWrap)
        }
        element.insertAdjacentElement('afterEnd', bodyElement)

    }

    const setCurrentlyPlayingSong = (obj) => {
        return obj

    }

    const HandleSongclick = (e, obj) => {
        const songLi = e.target.closest('.song-li-wrap')
        //TO ADJUST THE HEIGHT AND MAKE WAY FOR BOTTOM PALLETE TO SLIDE UP
        Array.from(document.querySelectorAll('.song-li > .song-li-wrap')).map(itm =>  itm !== songLi
            ? itm.classList.remove('song-li-change-bg') : null)
        songLi.classList.toggle('song-li-change-bg')
        const mainPlace_2 = songLi.firstElementChild.firstElementChild.nextElementSibling
        const otherPlace_2 = Array.from(document.querySelectorAll('.song-li-wrap > .item-1 > .place-2')).map(itm =>  
            itm !== mainPlace_2 ? itm.classList.remove('display-place-2') : null)
        const otherFirstDIV = Array.from(document.querySelectorAll('.song-li-wrap .item-1 > .place-1 > .hide-div1'))
        const otherSecondDIV = Array.from(document.querySelectorAll('.song-li-wrap .item-1 > .place-1 > .hide-div2'))
        const mainFirstDIV = songLi.firstElementChild.firstElementChild.firstElementChild.nextElementSibling
        const mainSecondDIV = mainFirstDIV.nextElementSibling
        if (otherSecondDIV.length !== 0){
            otherSecondDIV.map(itm => itm.setAttribute('display', 'block'))
        }
        mainFirstDIV.classList.toggle('hide-div1')
        mainSecondDIV.classList.toggle('hide-div2')
        mainPlace_2.classList.toggle('display-place-2')
        songLi.querySelector('.item-1').classList.toggle('re-spacing')
        const bottomPallete = document.querySelector('.homepage > .bottom-pallete')
        if (document.querySelector('.song-li-change-bg')){
            document.querySelector('#side-bar').classList.add('reduce-height-for-btm-pallete')
            document.querySelector('.homepage > .homepage-body').classList.add('reduce-height-for-btm-pallete')
            
            bottomPallete.classList.add('display-bottom-pallete')
            const {id, name, format, title, label, url, minutes, release_year} = obj
            setCurrentlyPlayingSong(obj)
            bottomPallete.querySelector('.first-line > .box-2 > span:nth-child(3)').textContent = minutes
            bottomPallete.querySelector('img').setAttribute('src', url)
            bottomPallete.querySelector('div > .song').textContent = name + ' || ' + label + '(' + format + ')'
            bottomPallete.querySelector('div > .name').textContent = title
            bottomPallete.querySelector('.second-line > .box-2 > span:nth-child(3)').textContent = minutes
        } else {
            setCurrentlyPlayingSong(null)
            document.querySelector('#side-bar').classList.remove('reduce-height-for-btm-pallete')
            document.querySelector('.homepage > .homepage-body').classList.remove('reduce-height-for-btm-pallete')
            bottomPallete.classList.remove('display-bottom-pallete')
        }
    } 

    const DisplaySongsPage = (index, bodyElement, obj) => {
        newItem = document.querySelector('.song-li.newlyAddedItem')
        if (newItem){newItem.classList.remove('newlyAddedItem')}
        bodyItemElement = document.createElement('span')
        bodyItemElement.className = 'song-li newlyAddedItem'
        bodyItemElement.addEventListener('click', e => HandleSongclick(e, obj))
        bodyItemElement.innerHTML = `
                <div class='song-li-wrap'
                    id=${index % 2 === 0 ? 'site-black-color' : 'normal-black-color'}>
                    <div class='item-1'>
                        <div class='place-1'>
                            {% with checked='${obj.selected}' data='{{position}}' dataIndex='{{position}}' inputType='checkbox-2' name='{{position}}' %}
                                {% include '../checkbox-input/checkbox-input.html' %}
                            {% endwith %}
                            <div class="hide-div1">${obj.title.slice(0,15) + '...'}</div>
                            <div>
                                <span>${obj.title.length > 15 ? obj.title.slice(0,15) + '...' : obj.title}</span>
                                <span class='double-bar'>||</span>
                                <span>${obj.label.length > 15 ? obj.label.slice(0,15) + '...' : obj.label} Record</span>
                            </div>
                        </div>
                        <div class='place-2'><span><CaretNextWhite /></span><span class="html-icon">&#10011;</span></div>
                    </div>
                    <span class='item-2'>${obj.name.length > 15 ? obj.name.slice(0,15) + '...' : obj.name}</span>
                    <span class='item-3'>${obj.release_year}</span>
                    <span class='item-4'>${obj.minutes}</span>
                </div>
            `   
        

        //the if condition is meant to position from earliest to latest, placing bodyItemElement beside d msst recently creaated one
        //cos just using sorted with arg 'afterBegin' will position from latest to earliest
        if (newItem){newItem.insertAdjacentElement('afterEnd', bodyItemElement)}
        else{bodyElement.insertAdjacentElement('afterBegin', bodyItemElement)}
    } 
    
    const HandleMousever = (e, selector) => {
        //console.log(e.currentTarget.tagName)
        //console.log(e.target.tagName)
        const {className, classList, name} = e.target
        const Card=document.querySelector('.new-playlist-card')
        const LeftSideIcon = document.querySelector('.left-side > .blocks > .icon')
        const RightSideSlideBox = document.querySelector('.right-side > .blocks > .slide-box')
        const RightSideFirstList= document.querySelector('.right-side > .blocks > .list:first-child')

        document.querySelector('.new-playlist-card').classList.remove('show-new-playlist-card')
        document.querySelector('#artist-view').classList.remove('display-artist-view')
        RemoveHoverColor()
        try{
            var num = className.split(' ')[1].split('-')[1]
            const SlideBoxListItem = document.querySelector(`.slide-box > .list-${num}`)
            const RightSideListItem = document.querySelector(`.right-side > .blocks > .list-${num}`)
            const LeftSideIconItem = document.querySelector(`.left-side > .blocks > .icon-${num}`)
            if (classList.contains('list-fill')){
                SlideBoxListItem.setAttribute('style', 'border-radius: 20px 0 0 20px;background-color: var(--normalblack);')
            }
            else{
                LeftSideIconItem.setAttribute('style', 'border-radius: 20px 0 0 20px; background-color: var(--normalblack);')
                RightSideListItem.setAttribute('style', 'background-color: var(--normalblack);')
            }
        }
        catch (error){}
        if (!classList.contains('list-1') && !classList.contains('icon-1')){
            document.querySelector('#container').classList.add('container-change-color')
           if ((document.querySelector('#side-bar > .content > .box >\
               .right-side > .blocks > .slide-box.slide-open'))  && (!classList.contains('list-fill'))){
                   LeftSideIcon.classList.toggle('add-px-below')
                   RightSideFirstList.classList.toggle('add-px-below')
                   RightSideSlideBox.classList.toggle('slide-open')
               }
        } 
        else {
           LeftSideIcon.classList.toggle('add-px-below')
           RightSideFirstList.classList.toggle('add-px-below')
           e.target.innerHtml = '<span>Collection &#10097</span>'
           RightSideSlideBox.classList.toggle('slide-open')
           document.querySelector('#container').classList.remove('container-change-color')
        }
        
        //if (selector){
        //    if (classList.contains('list-1') || classList.contains('icon-1')){
        //        //setCurrentPage('FIRST-PAGE')
        //    }
        //    if (classList.contains('list-2') || classList.contains('icon-2')){ 
        //        //setCurrentPage('ARTIST-PAGE')
        //    }
        //    if (classList.contains('list-3') || classList.contains('icon-3')){
        //        //setCurrentPage('SONGS-PAGE')
        //    }
        //    setAlbumPhotoCheckedState(selector)
        //    document.querySelector('#now-playing').classList.remove('display-now-playing')
        //    document.querySelector('template.album-photos').classList.remove('no-display-album-photos')
        //}

         if (classList.contains('list-1') || classList.contains('icon-1')){
            makeAjaxRequest(e, "GET", "{% url 'core_:selectAllSongAlbumPhotos' %}", { csrfmiddlewaretoken: "{{ csrf_token }}", currentPage: 'FIRST-PAGE'})
         }
         if (classList.contains('list-2') || classList.contains('icon-2')){
            makeAjaxRequest(e, "GET", "{% url 'core_:profileAllArtists' %}", { csrfmiddlewaretoken: "{{ csrf_token }}", currentPage: 'ARTIST-PAGE'})
         }
         if (classList.contains('list-3') || classList.contains('icon-3')){
            makeAjaxRequest(e, "GET", "{% url 'core_:selectAllSong' %}", { csrfmiddlewaretoken: "{{ csrf_token }}", currentPage: 'SONGS-PAGE'})
         }
         else if (classList.contains('list-4') || classList.contains('icon-4')){
            const currentlyPlayingSong = setCurrentlyPlayingSong
            NowPlaying(currentlyPlayingSong)
            document.querySelector('section.album-photos').classList.add('no-display-album-photos')
            document.querySelector('#now-playing').classList.add('display-now-playing')
         }
         else if (classList.contains('list-5') || classList.contains('icon-5')){
            Card.classList.toggle('show-new-playlist-card')
            Card.styles.top = `${e.target.offsetTop}px`
         }
    }

    const NowPlaying = (currentlyPlayingSong) => {
        now_playing = document.createElement('section')
        now_playing.className = 'now-playing'
        bodyItemElement.innerHTML = 
        <section id="now-playing">
            {
            id
            ? <div className='now-playing-wrap'>
                <span className='img-holder'> 
                    <img src={require(`../../Media/song-pic/${url}.PNG`)} />
                    <div className='img-txt'>
                        <span className='song'>{`${title + ' || ' + label + '('+format+')'}`}</span>
                        <span className='name'>{artistName}</span>
                    </div>
                    <div className='img-icon'>
                        <span className='html-icon'>&#10022;</span>
                        <span className='html-icon'>&#10138;</span>
                    </div>
                </span>
                <span data-id={id} 
                        data-obj={obj}
                        onClick={e => HandleSongclick(e, obj)}
                        // onMouseOver={e => handleMousever(e,obj)}
                        // onMouseLeave={e => handleMouseLeave(e)}
                        className='song-li'>
                        <div className='song-li-wrap'>
                            <div className='item-1'>
                                <div className='place-1'>
                                    <CheckboxInput 
                                        // checked={obj.selected}
                                        data={id}
                                        inputType='CHECKBOX2'
                                        handleChange={(e) => handleImageCheckBox(e, id)}
                                        name={`imageSelected${id}`}/>
                                    <div className="hide-div1">{title.slice(0,15) + '...'}</div>
                                    <div>
                                        <span>{title.length > 15 ? title.slice(0,15) + '...' : title}</span>
                                        <span className='double-bar'>||</span>
                                        <span>{label.length > 15 ? label.slice(0,15) + '...' : label} Record</span>
                                    </div>
                                </div>
                                <div className='place-2'><span><CaretNextWhite /></span><span className="html-icon">&#10011;</span></div>
                            </div>
                            <span className='item-2'>{artistName.length > 15 ? artistName.slice(0,15) + '...' : artistName}</span>
                            <span className='item-3'>{release_year}</span>
                            <span className='item-4'>{minutes}</span>
                        </div>
                </span>
                </div>
            : <div className='now-playing-wrap'>
                  <span className='img-holder2'>
                      <img src={require(`../../Media/song-pic/song9.PNG`)} />
                      <div className='img-txt'>
                          <span className='name'>You Have Not Chosen A Song</span>
                      </div>
                  </span>
              </div>
            }
        </section>
    }
    
    const HideSideBar = () => {
        document.querySelector('#side-bar').classList.toggle('no-scroll-bar')
        document.querySelector('#side-bar > .content > form').classList.toggle('reduce-form')
        document.querySelector('#side-bar > .content > form > .search-icon').classList.toggle('reposition-icon')
        document.querySelector('#side-bar').classList.toggle('reduce-width')
        document.querySelector('#side-bar > .content > .box > .right-side').classList.toggle('hide-content')
        document.querySelector('.homepage > .homepage-body').classList.toggle('increase-body')
    } 

    const RemoveHoverColor = () => {
        const AllIcons= Array.from(document.querySelectorAll('.left-side > .blocks > .icon'))
        const AllLists= Array.from(document.querySelectorAll('.right-side > .blocks > .list'))
        const AllSlideBoxLists= Array.from(document.querySelectorAll('.right-side > .blocks > .slide-box > .list'))
        AllIcons.map(itm => itm.removeAttribute('style', 'border-radius:20px 0 0 20px; background-color: var(--normalblack);'))
        AllLists.map(itm => itm.removeAttribute('style', 'background-color: var(--normalblack);'))
        AllSlideBoxLists.map(itm => itm.removeAttribute('style', 'background-color: var(--normalblack);'))
    }
</script> 
{% endcomment %}